<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/saldo_style.css}">
</head>
<body>
    <header class="header">
        <a class="titulo" th:href="@{/inicio}"><h1 class="title">Moda con Dani</h1></a>

                <div class="header-right">
            <a class="titulo" th:if="${session.usuario==null}" th:href="@{/iniciar_sesion}" th:text="'Iniciar sesión'"></a>
            <a th:href="@{/ajustes}"><img th:unless="${session.usuario==null}" th:src="@{/img/user_84308.png}" alt="Logo user"></a>
            <a th:href="@{/carrito}"><img th:src="@{/img/carrito.png}" alt="Logo carrito"></a>
                    <a th:href="@{/buscar}"><img th:src="@{/img/lupa.svg}" alt="" class="icono"></a>
        </div>
    </header>
    <main>
        <h1 th:text="'Saldo actual: '+${session.usuario.getDinero}+'€'"></h1>
        <h1 th:if="${error!=null}" th:text="${error}"></h1>
        <form action="anadir_saldo" method="post">
      <label for="añadir">Añadir: </label>
      <input type="number" name="añadir" min="0">
      <button type="submit">Añadir</button>
        </form>

       <form action="sacar_saldo" method="post">
      <label for="sacar">Sacar: </label>
      <input type="number" name="sacar" min="0">
      <button type="submit">Sacar</button>
    </form>
    </main>
    
</body>
</html>